*{
	font-family: "Poppins";
	padding: 0;
	margin: 0;
}

body{
	display: flex;
}

div.menu-bar{
	background-color: #59AFFF;
	width: 50%;
	height: 625px;
	margin-left: -37%;
	transition: .7s;
}

div.menu-bar:hover{
	transition: .7s;
	margin-left: -35%;
}

div.menu-bar ul.list{
	position: relative;
	list-style: none;
	padding-top: 80px;
	float: right;
}

div.menu-bar ul.list li{
	padding: 20px;
}

div.menu-bar ul.list li a{
	text-decoration: none;
	color: #fff;
	transition: .5s;
}

div.menu-bar ul.list li a:hover{
	/*background-color: #B6B6B6;
	padding:10px;
	border-radius: 5px;*/
	color: #1e272e;
}

div.menu-bar ul.list li i{
	font-size: 20px;
}

div.bar-notif{
	background-color: #fff;
	width: 90%;
	height: 50px;
	float: right;
	box-shadow: 0 2px 2px #6b7c93;
}

div.bar-notif i#notif{
	position: relative;
	font-size: 15px;
	margin: 10px 75%;
	background-color: #ddd;
	border-radius: 50%;
	padding: 10px;
	color: #6b7c93;
}

div.bar-notif div.img{
	position: relative;
	/*background-color: #ff0;*/
	width: 3%;	
	height: 35px;
	margin: -45px 84%;
}

div.bar-notif div.img img{
	/*position: relative;*/
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

